.header-info {
    text-align: center;
}

#Bus_Request {
    width: 75%; 
    max-width: 800px; 
    margin: auto; 
    display: block;
}

table,th,td {
    border: 1px solid;
}

table {
    width: 70%;
}
body {
    margin: 10px;
}